/* Reset some default styles */
body, h1, h2, h3, h4, h5, p {
    margin: 0;
    padding: 0;
}

/* Set a background color and text color for the body */
body {
    background-image: url("../cookie-background.jpg");
    padding-top: 20px;
}

header {
    color: black;
    text-align: center;
    text-shadow: 2px 2px 5px pink;
    font-family: 'Lucida Handwriting', cursive;
    padding: 10px 10px; /* Adjusted padding for vertical and horizontal spacing */
    font-size: 25px;
    background-color: white;
    width: fit-content;
    margin: auto;
    border-radius: 50px;
    border: 2px dotted pink; /* Increased border thickness */
}

img {
    display: block; /* Ensures the image is treated as a block-level element */
    margin: auto; /* Centers the image horizontally */
}



/* Style the navigation menu */
nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 15px;

}

nav a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-family: 'Lucida Handwriting';
}
